.header {
  position: relative;
  width: 100%;
  background: url(../img/header-bg.png) center center no-repeat / cover;
  padding-top: 135px;
  padding-bottom: 70px;
  box-sizing: border-box;
  h1 {
    font-family: $PlayfaitBold;
    font-size: 44px;
    margin: 0 0 30px;
    color: $black;
  }
  h2 {
    font-family: $GilroyExtrabold;
    font-size: 33px;
    max-width: 625px;
    margin: 0 0 30px;
    color: $black;
  }
  img  {
    position: absolute;
    top: 40px;
    right: 0px;
    display: block;
    width: 615px;
  }
}