.s9 {
  position: relative;
  width: 100%;
  margin-top: -80px;
  &__text {
    position: relative;
    @include  breakpoint(max-width 750px) {
      text-align: center;
    }
    h2 {
      font-family: $GilroyExtrabold;
      font-size: 45px;
      color: $black;
      max-width: 430px;
      margin-bottom: 35px;
      @include  breakpoint(max-width 750px) {
        margin: 0 auto 35px;
      }
      @include  breakpoint(max-width 600px) {
        font-size: 32px;
      }
    }
    p {
      font-family: $PlayfaitBold;
      font-size: 21px;
      max-width: 535px;
      margin-bottom: 40px;
      @include  breakpoint(max-width 750px) {
        margin: 0 auto 40px;
      }
      @include  breakpoint(max-width 600px) {
        font-size: 16px;
      }
    }
    ul {
      position: relative;
      padding: 0;
      max-width: 585px;
      z-index: 3;
      @include  breakpoint(max-width 750px) {
        text-align: left;
        margin: 0 auto;
        z-index: 3;
      }
      @include  breakpoint(max-width 600px) {
        margin-left: 20px;
      }
      li {
        list-style: none;
        font-family: $GilroyRegular;
        font-size: 17px;
        @include  breakpoint(max-width 600px) {
          font-size: 13px;
          padding-bottom: 5px;
        }
        &:before {
          content: '';
          position: relative;
          float: left;
          height: 5px;
          width: 5px;
          top: 10px;
          border-radius: 50%;
          background-color: $black;
          margin-right: 20px;
          @include  breakpoint(max-width 600px) {
            top: 5px;
          }
        }
      }
    }
  }
  span {
    display: block;
    position: absolute;
    z-index: 3;
    right: 0;
    top: -50px;
    img {
      max-width: 100%;
      @include breakpoint(max-width 1200px) {
        object-fit: cover;
      }
    }
    @include breakpoint(max-width 1200px) {
      width: 400px;
      top: 0;
    }
    @include breakpoint(max-width 992px) {
      width: 300px;
      top: -50px;
      right: -50px;
    }
    @include  breakpoint(max-width 750px) {
      display: none;
    }
  }
}