.s7 {
  position: relative;
  width: 100%;
  margin-top: -50px;
  @include breakpoint(max-width 600px) {
    margin-top: 0;
  }
  .container>img {
    position: absolute;
  }
  &--flower {
    display: block;
    top: 40px;
    left: 150px;
    height: 700px;
    @include breakpoint(max-width 1200px) {
      display: none;
    }
  }
  &--box {
    position: absolute;
    top: -70px;
    left: -280px;
    display: block;
    height: 1020px;
    z-index: 2;
    @include breakpoint(max-width 1200px) {
      height: 700px;
      top: 110px;
      left: -80px;
    }
    @include breakpoint(max-width 992px) {
      display: none;
    }
  }
  &__text {
    position: relative;
    max-width: 560px;
    float: right;
    @include breakpoint(max-width 992px) {
      float: none;
      margin: 0 auto;
    }
    h2 {
      font-family: $GilroyExtrabold;
      font-size: 45px;
      color: $black;
      margin-bottom: 30px;
      @include breakpoint(max-width 600px) {
        font-size: 32px;
      }
    }
    ul {
      padding: 0;
      margin-bottom: 30px;
      li {
        position: relative;
        list-style: none;
        font-size: 21px;
        font-family: $GilroyMedium;
        color: $black;
        @include breakpoint(max-width 600px) {
          font-size: 16px;
        }
        &:before {
          content: '';
          position: relative;
          float: left;
          top: 15px;
          height: 5px;
          width: 5px;
          border-radius: 50%;
          background-color: $black;
          margin-right: 20px;
        }
        b {
          font-family: $GilroyExtrabold;
          color: $black;
        }
      }
    }
  }
  .form {
    margin: 0 auto;
  }
  &-img {
    display: none;
    position: relative;
    margin: 50px auto 0;
    max-width: 500px;
    @include breakpoint(max-width 992px) {
      display: block;
    }
    img {
      display: block;
      position: relative;
      max-width: 100%;
    }
  }
}