.s11 {
  position: relative;
  width: 100%;
  h2 {
    font-family: $GilroyExtrabold;
    font-size: 45px;
    max-width: 450px;
    margin: 0 auto;
    @include  breakpoint(max-width 600px) {
      font-size: 32px;
      max-width: 100%;
      text-align: center;
    }
  }
  &__slider {
    position: relative;
    background: url(../img/s11-bg.png) center center no-repeat;
    @include breakpoint(max-width 992px) {
      background-size: contain;
    }
  }
  &__slide {
    position: relative;
    padding: 50px 0;
    width: 100%;
    &--img {
      position: relative;
      float: left;
      width: 200px;
      text-align: center;
      margin-right: 20px;
      @include breakpoint(max-width 770px) {
        width: 100%;
      }
      img {
        max-width: 100%;
        @include breakpoint(max-width 770px) {
          position: relative;
          margin: 0 auto;
        }
      }
      p {
        font-family: Lato, sans-serif;
        font-weight: 500;
        color: #ccc;
        letter-spacing: 3px;
        text-transform: uppercase;
        b {
          font-family: $PlayfaitBlack;
          font-size: 17px;
          display: block;
          color: $black;
          text-transform: capitalize;
          letter-spacing: normal;
        }
      }
    }
    &--text {
      position: relative;
      width: calc(100% - 200px);
      margin-left: 80px;
      @include breakpoint(max-width 992px) {
        width:calc(100% - 80px);
      }
      @include breakpoint(max-width 770px) {
        margin-left: 30px;
      }
      p {
        font-family: $GilroyRegular;
        font-size: 16px;
        line-height: 16px;
        @include breakpoint(max-width 600px) {
          font-size: 13px;
        }
      }
    }
  }
  &-img {
    display: none;
    position: relative;
    margin: 50px auto 0;
    max-width: 500px;
    @include breakpoint(max-width 992px) {
      display: block;
    }
    img {
      display: block;
      position: relative;
      max-width: 100%;
    }
  }


  .slick-prev {
    display: none!important;
  }
  .slick-next {
    position: absolute;
    top: 200px;
    left: 140px;
    width: 30px;
    height: 30px;
    border: none;
    background-color: #e60003;
    color: transparent;
    border-radius: 50%;
    &:before {
      content: '\2192';
      display: block;
      height: 100%;
      width: 100%;
      color: #fff;
      font-size: 22px;
      @include breakpoint(max-width 992px) {
        margin-top: -3px;
      }
    }
    @include breakpoint(max-width 770px) {
      left: 60%;
    }
  }
}