.s10 {
  position: relative;
  margin-top: -200px;
  background: url(../img/s10-bg.png) center center no-repeat;
  padding: 390px 0 60px;
  @include breakpoint(max-width 1200px) {
    padding: 130px 0 60px;
    margin-top: -80px;
    background-size: cover;
  }
  @include breakpoint(max-width 992px) {
    margin-top: -20px;
  }
  @include breakpoint(max-width 600px) {
    background: url(../img/s10-bg.png) center right no-repeat /cover;
    padding: 80px 0 0;
    margin-top: 0;
    background-size: auto;
  }
  &__text {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    @include breakpoint(max-width 992px) {
      flex-direction: column;
      text-align: center;
    }
    @include breakpoint(max-width 600px) {
      margin-top: 50px;
    }
    h2 {
      margin:0;
      font-family: $GilroyExtrabold;
      font-size: 40px;
      color: $black;
      max-width: 600px;
      @include breakpoint(max-width 992px) {
        margin-bottom: 40px;
      }
      @include breakpoint(max-width 600px) {
        font-size: 32px;
      }
    }
    p {
      margin: 0;
      font-family: $PlayfaitBold;
      font-size: 21px;
      max-width: 475px;
      @include breakpoint(max-width 600px) {
        font-size: 16px;
      }
    }
  }
  &__wrap {
    position: relative;
    margin-bottom: 345px;
    @include breakpoint(max-width 600px) {
      margin-bottom: 100px;
    }
    &--item {
      position: absolute;
      height: 210px;
      @include breakpoint(max-width 1200px) {
        height: 150px;
      }
      @include breakpoint(max-width 992px) {
        position: relative;
        float: left;
        width: 40% !important;
        top: 0!important;
        left: 0!important;
        margin: 40px 0 40px 40px;
        &:before {
          display: none;
        }
      }
      @include breakpoint(max-width 600px) {
        width: 300px !important;
        margin: 30px auto;
        float: none;
      }
      &:nth-of-type(1) {
        top: 250px;
        width: 260px;
        &:before {
          content: '';
          position: absolute;
          height: 85px;
          width: 130px;
          bottom: -110px;
          right: 20px;
          background: url(../img/icons/arrow1.png) center center no-repeat;
        }
      }
      &:nth-of-type(2) {
        top: 60px;
        left: 280px;
        width: 275px;
        @include breakpoint(max-width 1200px) {
          left: 250px;
        }
        &:before {
          content: '';
          position: absolute;
          height: 135px;
          width: 70px;
          top: 130px;
          left: -40px;
          background: url(../img/icons/arrow2.png) center center no-repeat;
          @include breakpoint(max-width 1200px) {
            height: 100px;
            background-size: contain;
            left: 20px;
            top: 160px;
          }
        }
      }
      &:nth-of-type(3) {
        left: 610px;
        top: 60px;
        width: 370px;
        &:before {
          content: '';
          position: absolute;
          height: 120px;
          width: 100px;
          bottom: -70px;
          right: 80px;
          background: url(../img/icons/arrow3.png) center center no-repeat;
          @include breakpoint(max-width 1200px) {
            height: 100px;
            background-size: contain;
            left: 20px;
            top: 160px;
          }
        }
      }
      &:nth-of-type(4) {
        right: 0;
        top: 270px;
        width: 260px;
        &:before {
          content: '';
          position: absolute;
          height: 120px;
          width: 120px;
          bottom: -130px;
          right: 120px;
          background: url(../img/icons/arrow4.png) center center no-repeat;
        }
        p {
          max-width: 140px;
        }
      }
      img {
        position: absolute;
        @include breakpoint(max-width 1200px) {
          height: 140px;
        }
      }
      a {
        position: absolute;
        text-transform: uppercase;
        font-size: 13px;
        text-align: center;
        bottom: 0;
        left: 0;
        @include breakpoint(max-width 1200px) {
          font-size: 11px;
          padding: 10px 20px;
        }
      }
      p {
        font-family: $GilroyRegular;
        font-size: 17px;
        max-width: 250px;
        position: absolute;
        bottom: 50px;
        right: 0;
        @include breakpoint(max-width 992px) {
          left: 110px;

        }
        b {
          display: block;
          font-family: $GilroyExtrabold;
          font-size: 16px;
        }
      }
    }
  }
  span {
    display: block;
    position: relative;
    margin: 0 auto;
    max-width: 780px;
    @include breakpoint(max-width 1200px) {
      max-width: 500px;
    }
    @include breakpoint(max-width 992px) {
      display: none;
    }
    img {
      max-width: 100%;
    }
  }
}